/* Used CSS variables */
:root {

    --color-white: #fff;
    --bgcolor-white: #fff;
}

/* Global css */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --diff: calc(var(--max-size) - var(--min-size));
    /* --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420)));
   Ranges from 421px to 1199px */
}

body {
    background-image: url("../images/02-portfolio-3.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*  left side header css */

.header {
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: #040b14;
    position: fixed;
    color: var(--color-white);
}

.my-name {
    text-align: center;
    font-size: xx-large;
    font-family: "Poppins", sans-serif;
}

.social-links a,
.nav-link {
    color: var(--color-white);
}

.social-links a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #212431;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

i {
    padding-right: 10px;
}

#avatar,
.social-links {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.social-links a:hover {
    background-color: #149ddd;
}

.fa-twitter {
    padding-right: 6px;
}

.fa-instagram {
    padding-right: 8px;
}

#avatar-outer {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 15px auto;
    background-color: #212431;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--bgcolor-white);
    background-image: url(../images/woman-avatar-icon.svg);
}

.nav-item {
    padding: 10px;
}


/* main content */

.main-content {
    left: 300px;
    bottom: 0;
    top: 0;
    position: fixed;
    overflow-y: auto;
}

section {
    min-height: calc(100vh);
}

.container-fluid section:not(:first-child) {
    background-color: var(--bgcolor-white);
}

.big-name {
    --max-size: 80;
    --min-size: 10;
    /*font-size: var(--responsive);*/
    font-size: 500%;
    color: midnightblue;
    font-weight: bold;
    letter-spacing: 2.5pt;
    text-shadow: 3px 3px 6px #0F1854;
}

.my-title {
    --max-size: 40;
    --min-size: 5;
    font-size: var(--responsive);
    color: #212431;
    letter-spacing: 5pt;
}

.section-title {

    font-size: x-large;
    color: #040b14;
    font-weight: bold;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.section-title div {
    border-bottom: 1px solid lightgray;
}

/* About */

.details {
    display: flex;
}

img {
    display: block;
    margin: auto;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}

.about-detail {
    width: 70%;
}

/* Portfolio */

.project {
    padding: 0 15px 15px 0;
}

.pr1,
.pr2,
.pr3 {
    width: 100%;
    height: 18em;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pr1 {
    background-image: url("../images/portfolio-1.jpg");
}

.pr1:hover .project-desc,
.pr2:hover .project-desc,
.pr3:hover .project-desc {
    display: block;
}

.pr1:hover,
.pr2:hover,
.pr3:hover {
    transform: scale(1.04);
}



.pr2 {
    background-image: url("../images/portfolio-6.jpg");
}

.pr3 {
    background-image: url("../images/portfolio-8.jpg");
}

#projects {
    margin-left: 0;
}

.project-title,
.project-desc {
    width: 100%;
    background-color: #040b14;
    opacity: 0.5;
    padding: 5px;
    color: #fff;
}

.project-desc {
    opacity: 0.3;
    display: none;
}

/* Contact */

#contact-details {
    margin-left: 15px;
}

#loc,
#em,
#call {
    font-size: large;
    font-weight: bold;

}

#address,
#em-id,
#num {
    font-size: small;
}


/* media queries */

@media only screen and (max-width: 576px) {
    .main-content {
        width: 100vw;
        left: 0;
    }

    .header {
        display: none;
    }
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
    .main-content {
        width: 100vw;
        left: 0;
    }

    .header {
        display: none;
    }
}


@media only screen and (max-width: 992px) and (min-width: 768px) {
    .main-content {
        width: 100vw;
        left: 0;
    }

    .header {
        display: none;
    }

    .big-name {
        margin: auto;
    }
}


@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .main-content {
        width: calc(100vw-300px);
        left: 300px;
    }

    .header {
        display: block;
    }
}


@media only screen and (min-width: 1200px) {
    .main-content {
        width: calc(100vw-300px);
        left: 300px;
    }

    .header {
        display: block;
    }
}