/* Used CSS variables */
:root {

    --color-white: #fff;
    --bgcolor-white: #fff;
}

/* Global css */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --diff: calc(var(--max-size) - var(--min-size));
    --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420)));
    /* Ranges from 421px to 1199px */
}

body {
    background-image: url("../images/02-portfolio-3.jpg");
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*  left side header css */

.header {
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: #040b14;
    position: fixed;
    color: var(--color-white);
}

.my-name {
    text-align: center;
    font-size: xx-large;
    font-family: "Poppins", sans-serif;
}

.social-links a,
.nav-link {
    color: var(--color-white);
}

.social-links a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #212431;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

i {
    padding-right: 10px;
}

#avatar,
.social-links {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.social-links a:hover {
    background-color: #149ddd;
}

.fa-twitter {
    padding-right: 6px;
}

.fa-instagram {
    padding-right: 8px;
}

#avatar-outer {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 15px auto;
    background-color: #212431;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--bgcolor-white);
    background-image: url(../images/woman-avatar-icon.svg);
}

.nav-item {
    padding: 10px;
}


/* main content */

.main-content {
    left: 300px;
    bottom: 0;
    top: 0;
    position: fixed;
    overflow-y: auto;
    width: calc(100vw - 300px);
}

section {
    height: calc(100vh);
    border: 1px solid green;
}

.container-fluid section:not(:first-child) {
    background-color: var(--bgcolor-white);
}

.big-name {
    --max-size: 80;
    --min-size: 10;
    font-size: var(--responsive);
    color: midnightblue;
    font-weight: bold;
    letter-spacing: 2.5pt;
    text-shadow: 3px 3px 6px #0F1854;
}

.my-title {
    --max-size: 40;
    --min-size: 5;
    font-size: var(--responsive);
    color: #212431;
    letter-spacing: 5pt;
}

.section-title {

    font-size: x-large;
    color: #040b14;
    font-weight: bold;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.section-title div {
    border-bottom: 1px solid lightgray;
}

/* About */

.details {
    display: flex;
}

.details div {
    padding: 0 20px;
}

.about-photo {
    background-image: url("../images/02-hero-bg.jpg");
    width: 30%
}

.about-detail {
    width: 70%;
}



